.vscode/
*~
out/

OpenCL_API.html
OpenCL_API.pdf
OpenCL_API.xml
OpenCL_API-docinfo.xml

opencl_env.html
opencl_env.pdf
opencl_env.pdf.xml
opencl_env-docinfo.xml

opencl_ext.html
opencl_ext.pdf
opencl_ext.pdf.xml
opencl_ext-docinfo.xml

opencl_unified_ext.html
opencl_unified_ext.pdf
opencl_unified_ext.pdf.xml
