dist: xenial

language: ruby

git:
  depth: 200

rvm:
  - 2.3.3

before_install:
  - sudo apt-get install -y libpango1.0-dev ghostscript fonts-lyx
  - gem install asciidoctor -v 1.5.8
  - gem install coderay -v 1.1.1
  - gem install ttfunk -v 1.5.1
  - gem install asciidoctor-pdf -v 1.5.0
  - MATHEMATICAL_SKIP_STRDUP=1 gem install asciidoctor-mathematical -v 0.2.2

script:
  - git describe --tags --dirty
  - make api c env ext cxx4opencl

deploy:
  provider: releases
  api_key: "FIXME - ADD GITHUB OAUTH TOKEN"
  file_glob: true
  file: out/pdf/*
  skip_cleanup: true
  on:
    tags: true
